# node modules
node_modules/
client/node_modules/
server/node_modules/

# env
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
client/build/
dist/

# excel / temp
orders.xlsx

# OS
.DS_Store
Thumbs.db

# ngrok
ngrok.exe
